# Анализ исходных данных

## 1 Общее описание набора данных

## 2 Анализ

### 2.1 Импорт библиотек и загрузка данных

In [ ]:
import os
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [38]:
DATA_PATH_PREPARE = r'data\prepare\data_structed.xlsx'
DOMAIN_PATH = r'data\prepare\domain.xlsx'
PHYLUM_PATH = r'data\prepare\phylum.xlsx'
CLASS_PATH = r'data\prepare\class.xlsx'
ORDER_PATH = r'data\prepare\order.xlsx'
FAMILY_PATH = r'data\prepare\family.xlsx'
SPECIES_PATH = r'data\prepare\species.xlsx'

In [39]:
df_structed = pd.read_excel(DATA_PATH_PREPARE)
df_domain = pd.read_excel(DOMAIN_PATH)
df_phylum = pd.read_excel(PHYLUM_PATH)
df_class = pd.read_excel(CLASS_PATH)
df_order = pd.read_excel(ORDER_PATH)
df_family = pd.read_excel(FAMILY_PATH)
df_species = pd.read_excel(SPECIES_PATH)

In [40]:
df_structed.head()

  type_of_bacterium  count target  group
0     Galactobacter      0     ПР      1
1   Corynebacterium      0     ПР      1
2     Adlercreutzia      5     ПР      1
3     Gordonibacter      0     ПР      1
4   Paraeggerthella      0     ПР      1

### 2.2 Проверка исходных данных

Проверяем по количеству в данных колонке `target` найдем общее количество признаков

In [41]:
df_species.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Домен,NaN,Филум,NaN,Класс,NaN,Порядок,NaN,Семейство,Вид,NaN
1,Bacteria,17823.0,Actinobacteria,82.0,Actinobacteria,0.0,Micrococcales,0.0,Micrococcaceae,Galactobacter,0.0
2,NaN,NaN,NaN,NaN,NaN,NaN,Mycobacteriales,0.0,Corynebacteriaceae,Corynebacterium,0.0
3,NaN,NaN,NaN,NaN,Coriobacteriia,82.0,Eggerthellales,82.0,Eggerthellaceae,Adlercreutzia,5.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Gordonibacter,0.0

In [42]:
len(df_species)

219

In [16]:
df_structed_grouped = df_structed.groupby(by=['target', 'group'])
df_structed_grouped.count()

                   type_of_bacterium  count
target      group
9495        1                    108    108
            2                    108    108
Fe          1                    108    108
            2                    108    108
АУ          1                    108    108
            2                    108    108
Биф         1                    108    108
            2                    108    108
Лакт        1                    108    108
            2                    108    108
Медь        1                    108    108
            2                    108    108
ПДР         1                    108    108
            2                    108    108
ПР          1                    107    107
            2                    108    108
Спор        1                    108    108
            2                    108    108
Хит         1                    108    108
            2                    108    108
Целлюлоза   1                    108    108
            2                    108    108
Энтеросгель 1                    108    108
            2                    108    108

Видим что для `ПР-1` не хватает одного показателя, можем его найти

In [19]:
df1 = df_structed[(df_structed['target'] == 'ПР') & (df_structed['group'] == 1)]
df2 = df_structed[(df_structed['target'] == 'ПР') & (df_structed['group'] == 2)]

In [23]:
set(df1.type_of_bacterium) ^ set(df2.type_of_bacterium)

{'Arthrobacter'}

В итоге для `ПР-1` не хвататет `'Arthrobacter'`